html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    --max-content-width: 50rem;
    --menu-background-color: rgba(41, 42, 45, 0.9);
    --a-hover-color: lightblue;
    --a-text-color: #4d6bfe;
    
    background-color: #292a2d;
    margin: 0;
    padding: 0 20px 0 20px;
    font-family: "Noto Sans", serif;
}

.homepage, .my-achievements, .my-experiences, .my-skills, .about, .my-projects {
    color: white;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.top-center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-left-screen {
    position: absolute; /* Position relative to the container */
    display: flex;
    bottom: 0;
    left: 0;
    max-height: 100vh;
}

.bottom-right-screen {
    position: absolute; /* Position relative to the container */
    display: flex;
    bottom: 0;
    right: 0;
    max-height: 100vh;
}

.top-right-screen {
    position: absolute; /* Position relative to the container */
    display: flex;
    top: 0;
    right: 0;
    align-items: center;
    margin-top: 1rem;
    margin-right: 1rem;
    gap: 2rem;
    max-height: 100vh;
}

.page-header {
    flex-direction: column;
    max-width: var(--max-content-width);
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

@media (max-width: 540px) {
    .page-header {
        margin-bottom: 1rem;
    }
}

.page-header h1 {
    font-size: 5em;
    margin-bottom: 0;
}

@media (max-width: 540px) {
    .page-header h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    transition: background-color 0.6s ease-in;
    z-index: 1;
    pointer-events: none;
}

#overlay.change {
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: all;
}

.translate-menu img {
    display: block;
    width: 2rem;
    height: 2rem;
    color: white;
    cursor: pointer;
}

.language-options-margin {
    top: 3rem;
    right: calc(2rem + 4px);
}

.language-options {
    text-align: center;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    pointer-events: all;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(-10px);
    pointer-events: none;
    background: var(--menu-background-color);
}

.language-options.active {
    opacity: 100%;
    transform: translateY(0);
    pointer-events: all;
}

.language-options p {
    margin: 0;
    cursor: pointer;
}

.hamburger-menu {
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
 
/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-layer {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 8rem;
    margin-right: 1rem;
    gap: 2rem;
    pointer-events: none;
    height: 100%;
}

.menu-layer > a {
    font-size: 1.5rem;
    text-decoration: none;
}

.menu-layer > * {
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in-out;
    transform: translateX(200px);
    pointer-events: none;
}

.menu-layer > *.change {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
}

.menu-layer .contacts {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.menu-layer .contacts a {
    text-decoration: none;
    margin: 0;
    color: white;
}

@media (hover :hover) and (pointer: fine) {
    .menu-layer .contacts a:hover {
        text-decoration: underline;
    }
}

.menu-layer > * {
    transition-delay: calc(var(--order) * 0.1s);
}

.copyright {
    text-align: right;
    margin-right: 1rem;
}

@media (max-width: 540px) {
    .copyright p {
        font-size: 0.8rem;
        margin-bottom: 1.3rem;
    }
}

/* Homepage */

.homepage {
    overflow: hidden;
}

.title-text {
    display: flex;
    flex-direction: column;
}

.title-text h1 {
    margin: 0;
    font-size: 6rem;
    color: #4D6BFE;
}

@media (max-width: 540px) {
    .title-text h1 {
        font-size: 4rem;
    }
}

.title-text h2 {
    margin: 0;
    font-size: 2rem;
}

.title-text .description-text {
    margin-top: 2rem;
}

#hobby-text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* .socials {
    margin-bottom: 1rem;
    margin-left: 1rem;
    gap: 2rem;
}

@media (max-width: 540px) {
    .socials {
        margin-bottom: 0.2rem;
        gap: 1rem;
    }
}

.social {
    display: flex;
}

.social img {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 540px) {
    .social img {
        width: 2rem;
        height: 2rem;
    }
}

@media (min-width: 540px) {
    .social a:hover ~ p {
        width: 100%;
        opacity: 1;
    }
}

.social p {
    margin-left: 1rem;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease-in;
} */

.tldr {
    margin-left: 1rem;
}

.tldr a {
    color: var(--a-text-color);
    text-decoration: none;
    transition: 0.2s;
    padding: 2px;
    border-radius: 5px;
}

@media (hover: hover) and (pointer: fine) {
    .tldr a:hover {
        background-color: var(--a-hover-color);
    }
}

/* My Achievements and some of My Expereiences */

.filter-menu img {
    display: none;
}

/* Mobile Side Index */

.top-index, .category-filter-margin {
    display: none;
}

.top-index .top-index-section-header {
    font-weight: bold;
}

@media (max-width: 1320px) {
    .side-index {
        display: none;
    }

    .top-index {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .filter-menu img {
        display: block;
        width: 2rem;
        height: 2rem;
        color: white;
        cursor: pointer;
    }
    
    .category-filter-margin {
        position: absolute;
        top: 4rem;
        right: calc(10rem + 4px);
        display: block;
    }
    
    .category-filters {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -10px);
        width: max-content;
        text-align: center;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        border-radius: 1rem;
        pointer-events: all;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;
        background: var(--menu-background-color);
    }

    .category-filters.active {
        opacity: 100%;
        transform: translate(-50%, 0);
        pointer-events: all;
    }

    .category-filters .category-filter-list .list-option .options .option {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}

.top-index .year-selector, .top-index .category-filter {
    width: 100%;
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: var(--max-content-width);
}

.top-index p {
    padding: 0;
    margin: 0;
}

.top-index .category-filter {
    flex-direction: column;
}

.year-selector .years {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.top-index .list-option .options .option {
    justify-content: start;
}

/* Desktop Side Index */

.center-side-index {
    position: absolute;
    display: flex;
    left: 50%;
    top: 28%;
    transform: translate(-50%, 0);
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.side-index {
    margin-right: calc(var(--max-content-width) + 25rem);
    text-align: right;
    width: max-content;
    pointer-events: all;
}

.side-index hr {
    width: 80%;
    margin-top:  20px;
    border: none;
    border-top: 1px dotted white;
}

.side-index .year-indicator, .side-index .category-filter {
    border-right: 1px dotted white;
    padding-right: 20px;
}

.year-indicator .years {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.years p {
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}

.years p.current-year-active {
    text-decoration: underline;
}

.category-filter-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.category-filter-list .list-option {
    display: flex;
    flex-direction: column;
}

.list-option .list-option-header {
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 0.5rem;
    color: grey;
    letter-spacing: 0.2rem;
}

.list-option .options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list-option .options .option p {
    margin: 0;
}

.list-option .options .option {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}

.category-filter-list input {
    margin-left: 10px;
    border: none;
    color: red;
}

.checkbox {
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}
 
.checkbox.active .checkbox-fill {
    width: 0.3rem;
    height: 0.3rem;
    background-color: white;
    flex-shrink: 0;
    border-radius: 50%;
}

.achievements, .experiences, .skills {
    margin: auto;
    flex-direction: column; 
    gap: 1rem;
}

/* Special Achievement/Experience */
.achievement.image, .experience.image {
    background: transparent;
    transition: 0.2s;
    border-radius: 10px;
}

@media (hover :hover) and (pointer: fine) {
    .achievement.image:hover, .experience.image:hover {
        background: #3e3f42;
        cursor: pointer;
    }
}

.year-2025 {
    color: #A020F0;
}
.year-2024 {
    color: #4D6BFE;
}
.year-2023 {
    color: #5dbb63;
}
.year-2022 {
    color: #d80f0a;
}
.year-2021 {
    color: #fce205;
}

.achievement, .experience, .skill {
    max-width: var(--max-content-width);
    width: 100%;
    padding: 1rem;
}

.achievement .header-row, 
.experience .header-row, 
.skill .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.achievement .header-row h2, 
.experience .header-row h2, 
.skill .header-row h1 {
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.achievement p, .experience p, .coding-project p {
    margin-top: 1rem;
}

.achievement .content p, .experience .content p, .coding-project .content p {
    margin-top: 0.2rem;
}

.achievement .categories, 
.experience .categories, 
.coding-project .categories,
.research-project .categories {
    justify-content: end;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width: 540px) {
    .achievement .categories, 
    .experience .categories, 
    .coding-project .categories,
    .research-project .categories {
        justify-content: flex-start; /* Align to the start for better readability */
    }
}

.achievement .category, 
.experience .category, 
.coding-project .category,
.research-project .category {
    border: 1px solid white;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.achievement .category p, 
.experience .category p, 
.coding-project .category p,
.research-project .category p {
    margin: 0;
}

.event-image {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 1rem;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(10rem);
    pointer-events: none;
    overflow: hidden;
    background-color: var(--menu-background-color);
}

.event-image.active {
    opacity: 100%;
    transform: translateX(0);
    pointer-events: all;
}

.event-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    max-width: 30rem;
    max-height: 30rem;
    object-fit: cover;
    object-position: center;
}

.event-image p {
    margin: 0.5rem 0;
    text-align: center;
}

#image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    pointer-events: none;
    touch-action: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    gap: 0.5rem;
}

#image-overlay.active {
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: all;
    touch-action: all;
    display: flex;
}

#image-overlay .image-overlay-image-frame {
    margin: 0 1rem;
    pointer-events: none;
    overflow: hidden;
}

#image-overlay img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    max-width: 30rem;
    max-height: 30rem;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    touch-action: none;
}

#image-overlay p {
    margin: 0 1rem;
    text-align: center;
}

#image-overlay.active  {
    opacity: 100%;
    pointer-events: all;
}

/* My Skills */

.skill {
    --proficiency-bar-radius: 20px;
}

.skill .header-row {
    flex-wrap: wrap;
}

.skill .header-row p {
    text-align: end;
}

.content table {
    width: 100%;
    border-spacing: 0 1rem;
    table-layout: fixed;
}

.content table tr {
    text-align: left;
    padding-bottom: 2rem;
}

.proficiency-bar {
    border: 2px solid #4D6BFE;
    border-radius: var(--proficiency-bar-radius);
    height: 1rem;
}

.proficiency-bar-fill {
    background-color: #4D6BFE;
    height: 100%;
    width: var(--fill-level, 0);
    border-radius: var(--proficiency-bar-radius);
}

/* About */

.about-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin-top: 5rem;
}

.about-section img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.about-section .about-text {
    max-width: 40rem;
}

.about-text a {
    text-decoration: none;
    color: var(--a-text-color);
    transition: 0.2s;
    padding: 2px;
    border-radius: 5px;
}

@media (hover :hover) and (pointer: fine) {
    .about-text a:hover {
        background-color: var(--a-hover-color);
    }
}

#achievements-nothing-here, #experiences-nothing-here {
    margin-top: 3rem;
    text-align: center;
}

/* My Projects */

.projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.projects .banner {
    overflow: hidden;
    height: 10rem;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1rem;
}

@media (hover :hover) and (pointer: fine) {
    .projects .banner:hover img {
        transform: scale(1.2);
    }
}

.projects .banner img {
    max-width: var(--max-content-width);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

.coding-projects, .research-projects {
    display: flex;
    flex-direction: column;
    max-width: var(--max-content-width);
    width: 100%;
}

.coding-projects-body, .research-projects-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.coding-projects .header-row, .research-projects .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coding-projects-header, .research-projects-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 540px) {
    .coding-projects-header h1, .research-projects-header h1 {
        font-size: 1.5rem;
    }
}

.coding-projects-header h1, .research-projects-header h1 {
    text-align: start;
}

.coding-projects-header p, .research-projects-header p {
    text-align: end;
}

.coding-project .header-row h2, .research-project .header-row h2 {
    margin-right: 2rem;
}

.coding-project a {
    text-decoration: underline;
    color: white;
}

.research-project a {
    text-decoration: none;
    color: var(--a-text-color);
    transition: 0.2s;
    padding: 2px;
    border-radius: 5px;
}

@media (hover :hover) and (pointer: fine) {
    .research-project a:hover {
        background-color: var(--a-hover-color);
    }
}