html {
    height: 100%;
}

body {
    --debug-flag: 0; /* 1 if debugging, 0 if not */
    --max-content-width: 50rem;
    --timeline-start-offset: 40%;
    --timeline-dot-gap: 0.6rem;
    --event-offset: 10rem;

    background-color: #292a2d;
    color: white;
    height: 200rem;
}

.content h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    text-align: center;
}

.center-line {
    position: absolute; /* Allows it to move with scrolling */
    top: var(--timeline-start-offset);
    left: 50%;
    height: calc(var(--debug-flag) * 120rem); /* Extends beyond the bottom */
    border: none;
    border-right: 3px solid white;
    transform: translateX(-50%);
}

.timeline-event {
    position: absolute; /* Allows it to move with scrolling */
    top: calc(40% + var(--offset, 0px));
    display: flex;
    align-items: center;
    transform: translateY(-50%);
    gap: var(--timeline-dot-gap);
    max-width: calc(var(--max-content-width) / 2);
}

.timeline-event.animate > .timeline-dot {
    animation: dot-expand 1s forwards;
    opacity: 100%;
}

.timeline-event.animate > .event-details > h2 {
    transition: 0.5s;
    transition-delay: 1.5s;
    opacity: 100%;
}

.timeline-event.animate > .event-details > p {
    transition: 0.5s;
    transition-delay: 2s;
    opacity: 100%;
}

.right-side {
    flex-direction: row;
    left: 50%;
    transform-origin: left center;
    margin-right: 10px;
}

.right-side .timeline-dot {
    --translation: -50%;

    transform: translateX(-50%);
}

.left-side {
    flex-direction: row-reverse;
    right: 50%;
    transform-origin: right center;
    margin-left: 10px;
    text-align: right;
}

.left-side .timeline-dot {
    --translation: 50%;

    transform: translateX(50%);
}

.timeline-dot {
    background-color: white;
    flex-shrink: 0;
    border-radius: 50%;
    opacity: calc(var(--debug-flag) * 100%);
}

.timeline-dot.major {
    width: 1.5rem;
    height: 1.5rem;
}

.timeline-dot.minor {
    width: 1rem;
    height: 1rem;
}

@keyframes dot-expand {
    0% {transform: translateX(var(--translation)) scale(0);}
    25% {transform: translateX(var(--translation)) scale(1.25);}
    50% {transform: translateX(var(--translation)) scale(0.75);}
    75% {transform: translateX(var(--translation)) scale(1.1);}
    100% {transform: translateX(var(--translation)) scale(1);}
}

.timeline-event .event-details {
    display: flex;
    flex-direction: column;
}

.timeline-event .event-details h2 {
    margin: 0;
    opacity: calc(var(--debug-flag) * 100%);
}

.timeline-event .event-details p {
    margin: 0;
    opacity: calc(var(--debug-flag) * 100%);
}

.timeline-event .image-container img {
    max-width: calc(var(--max-content-width) / 2);
    width: 100%;
}